@import './assets/css/sb-admin.min.css'; /* BOOTSTRAP DASHBOARD TEMPLATE */
@import './assets/css/colors.scss';
@import './assets/css/helpers.scss';

#app {

	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* TRANSITIONS BETWEEN COMPONENTS */
	.fade-enter-active {
		opacity: 1;
		transition: opacity .6s ease-out;
	}

	.fade-enter, .fade-leave-active {
		opacity: 0;
	}
	/* TRANSITIONS BETWEEN COMPONENTS */

/* APP GLOBAL STYLES */

	&.talentooAdmin {


		&.loginView {

			.content-wrapper {

				margin-left: 0;
				width: 100%;
				margin-top: -56px;
				min-height: calc(100vh - 56px);

			}

			footer {
				width: 100%;
				margin-left: 0;
				.container {
					max-width: 100%;
				}
			}

		}

		a {

			&:hover {
				text-decoration: none;
			}

		}

		button {

			&:hover {
				cursor: pointer !important;
			}

		}

		// RESET TEMPLATE 
		.bg-light {
			background-color: $primary !important;
		}

		.btn-primary:not([disabled]):not(.disabled).active,
		.btn-primary:not([disabled]):not(.disabled):active,
		.show>.btn-primary.dropdown-toggle {
			box-shadow: none !important;
		}
		

		ol.breadcrumb {

			li {

				margin-left: 0;

				&:first-child {
					margin-left: 10px;
					margin-right: 0;
				}

				a {

					color: $primary;
					font-weight: bold;

				}

			}

		}

	}

}

footer {

	@media (min-width: 1200px){

		.container {
			max-width: none;
		}

	}

}

/* LOGIN VIEW STYLES */
@import './assets/css/login.scss';

/* NAVBAR STYLES */
@import './assets/css/navbar.scss';

/* PROFILE STYLES */
@import './assets/css/profile.scss';

/* ITEMS LIST STYLES */
@import './assets/css/items-list.scss';

/* ITEMS TABLES STYLES */
@import './assets/css/items-table.scss';

/* LOADER for pending answers */
@import './assets/css/loader.scss';