.items-table {

	width: 100%;

	thead {

		th {

			td {
				padding: 10px 10px;
				vertical-align: middle;
				color: $primary;
			}

		}

	}

	tbody {

		tr {

			&:nth-child(odd) {
				background: rgba($l-gray,0.4);
			}

			td {
				padding: 10px 10px;
				vertical-align: middle;
			}

		}

	}

	.tb-id {
		width: 30px;
	}
	.tb-img {
		width: 40px;
	}

}

.dt-bootstrap4 {

	div[class^='dataTables_'] {

		input[type='text'],
		input[type='search'],
		input[type='number'],
		select {
			display: inline-block;
		}

		label {
		    white-space: nowrap;
		}

		&.withIcon {

			i {
				opacity: 0.33;
				margin-left: 6px;
			}

			input {
				margin-left: -25px;
				padding-left: 25px;
			}

		}

	}

	.dataTables_length {
		select {
			max-width: 70px;
		}
	}

}