.navbar {

	&.navbar-light {

	  .navbar-brand {
	    color: $white !important;
	  }
	  
	  a {
	    color: $white;
	  }

	  .navbar-nav {

	  		.nav-item {

	  			.nav-link {
					color: $white;
				}

				&.dropdown {

					.nav-link {
						color: $white;
						&:after {
							color: $white !important;
						}
					}

				}

	  		}

	  		.dropdown-menu {
	       		left: initial;
	       		right: 0;
	       	}

	  }

	  .navbar-collapse {

	    ul.navbar-sidenav {

	      margin-top: 56px;

	      li.nav-item  {

	        a {

	          display: inline-block;
	          box-sizing: border-box;
	          width: 100%;
	          padding: 10px 5px 10px 20px;
	          color: $primary !important;
	          border-right: 5px solid transparent;

	          @extend .transition2;

	          &:hover {
	            background: rgba($gray,0.5);
	            @extend .transition2;
	          }

	          i {
	            margin-right: 5px;
	          }

	        }

	        &.router-link-exact-active {

	          a {
	            background: $l-gray;
	            border-right-color: $secondary;
	            color: $d-primary !important;
	          }

	        }

	      }

	    }
	    
	  }

	}

}

/* USER SIDEBAR STYLES */
.navbar {

	&.navbar-light {

		.navbar-collapse {

			ul.navbar-sidenav {

				overflow: hidden;
				max-width: 250px;

				transition: max-width .2s ease;

				.user-sidebar-view {

					.user-icon {display: none;}

					background: $d-primary;
					color: $white;
					padding: 15px 15px 15px 20px;

					.user-img {
						@extend .user-img-med;
						margin-bottom: 15px;
					}

					p {
						margin-bottom: 0;
					}

					.user-name {

						font-size: 1em;
						width: 215px;
						display: block;
						margin-right: 0;

					}

					.user-role {
						color: $gray;
					}

					.user-view {

						a {
							color: $l-gray;
							@extend .transition2;

							&:hover {
								background: lighten($l-primary,5%);
								color: $white;
								@extend .transition2;
							}
						}

					}

				}

			}

		}

	}

}

/* LEFT SIDEBAR TOGGLED STYLES */

.sidenav-toggled {

	.user-sidebar-view {

		width: 55px!important;
		padding: 0 !important;

		.user-icon {
			display: inline-block !important;
			width: 100%;
			text-align: center;
			a {
				display: inline-block;
				width: 100%;
				height: 54px;
				padding-top: 15px;
			}
		}

		.row {display: none;}
		
	}

	#mainNav.navbar-light .navbar-collapse .navbar-sidenav {
		width: 55px;
		max-width: 55px;
		transition: max-width .6s ease;
	}

	.navbar.navbar-light .navbar-collapse ul.navbar-sidenav li.nav-item a {
		padding-left: 15px;
		text-align: center;
	}
	.navbar.navbar-light .navbar-collapse ul.navbar-sidenav li.nav-item a span {display: none;}

}